* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
  background: #1bb1a5;
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  height: 100%;
}

.tabs-block {
  display: flex;
  padding: 0;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  width: 700px;
  height: auto;
  margin: 50px auto;
  position: relative;
}

li {
  text-align: center;
  margin: 0;
  padding: 10px;
  flex: auto;
  font-size: 18px;
  font-weight: 700;
  color: #1bb1a5;
  position: relative;
  cursor: pointer;
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
  color: #1bb1a5;
}

.article-block {
  width: 700px;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 10px 12px -12px rgba(0, 0, 0, 0.4) inset;
  background: #fff;
  border-bottom: 1px solid rgba(27, 177, 165, 0.3);
  position: relative;
  border-radius: 24px;
}

.article {
  position: absolute;
  padding: 20px;
  left: 0;
  top: 0;
  line-height: 1.5;
}

/* .tab-pane.active {
  animation: slide-down 1s ease-out;
}
@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} */
.talk-main {
  padding: 80px;
}

.talk-title-wrap {
  margin-bottom: 50px;
}

.talk-content {
  margin-bottom: 90px;
}

.navbar .navbar-brand {
  font-size: 30px;
}

/* 
.background-portfolio {
  background-color: white;
}

.background-portfolio ul {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.card-hover1 img {
  background: black;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.3s;
}

.card-hover1:hover img {
  opacity: 0.3;
  background: black;
  overflow: hidden;
  object-fit: cover;
}

.card-hover1 .text-bottom {
  padding-top: 8rem;
}

.card-hover2 img {
  background: black;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.3s;
}

.card-hover2:hover img {
  opacity: 0.3;
  background: black;
  overflow: hidden;
  object-fit: cover;
}

.card-hover2 .text-bottom {
  padding-top: 8rem;
}

.card-hover3 img {
  background: black;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.3s;
}

.card-hover3:hover img {
  opacity: 0.3;
  background: black;
  overflow: hidden;
  object-fit: cover;
}

.card-hover3 .text-bottom {
  padding-top: 8rem;
}

.card-hover4 img {
  background: black;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.3s;
}

.card-hover4:hover img {
  opacity: 0.3;
  background: black;
  overflow: hidden;
  object-fit: cover;
}

.card-hover4 .text-bottom {
  padding-top: 7.5rem;
} */

#button {
  border-radius: 0;
}

#gambar {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height: 18rem;
}

.back-to-top {
  position: fixed;
  display: none;
  background: white;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 10px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 8px;
  color: black;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.head-intro-inner .head-content-slot {
  justify-content: center;
  margin: 3px 0;
  flex: auto;
}

.left-nav {
  position: relative;
  flex: none;
  margin: 0 10px;
}

.whatsapp {
  position: fixed;
  background: rgb(8, 199, 8);
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 1;
  font-size: 30px;
  border-radius: 50%;
  left: 20px;
  bottom: 20px;
  transition: background 0.5s;
  z-index: 11;
}

.whatsapp i {
  padding-top: 8px;
  color: white;
}

#sticky {
  padding: 5px;
  position: sticky;
  top: 0;
}

#gambar-carousel {
  height: 550px;
  opacity: 0.8;
  background-color: black;
<<<<<<< HEAD
}
=======
  z-index: 1;
}
>>>>>>> 6579d1e9f2751a6dfae0f3a27722af1482e3b10d
