.talk-main {
  padding: 80px;
}
.talk-title-wrap {
  margin-bottom: 50px;
}

.navbar .navbar-brand {
  font-size: 50px;
}

.background-portfolio {
  background-color: white;
}

.background-portfolio ul {
  padding-top: 6rem;
  padding-bottom: 2rem;
}

.card-hover img {
  background: black;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.7;
  transition: 0.3s;
}

.card-hover:hover img {
  opacity: 0.3;
  background: black;
  overflow: hidden;
  object-fit: cover;
}

.card-hover .text-bottom {
  padding-top: 8rem;
}

.btn {
  border-radius: 0;
}

#card {
  border: none;
}

#button {
  border-radius: 0;
}

#gambar {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.back-to-top {
  position: fixed;
  display: none;
  background: #18d26e;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}
